body{
  background-image: url("images/cream_pixels.png");
  background-color: #EDE5E2;
  margin:0px;
}

.head{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-image: url("images/binding_dark.png");
  background-color: #2b2b2b;
}

.nav{
  width: auto;
  position: relative;
  top: 100px;
  background-color: #2D739F;
  height: 24px;
}

.logo{
  position: absolute;
  top:36px;
  padding: 10px;
}

.image{
  padding:50px;
  position: relative;
  float: left;
}

.name{
  font-family: sans-serif;
  font-size: 27px;
  font-style: italic;
  color: #8500ff;
  position: absolute;
  transform: rotate(34deg);
  left: 56px;
  top: 266px;
}
